*{
    box-sizing: border-box;
    margin:0px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

nav{
    display:flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    height: 5vh;
    width:100%;
    
    background-color: bisque;
}

.nav-item{
    display: flex;
    height: 100%;
    width: 100%;
}

/* .section-size{
    display
} */

#about{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh 1fr;
    grid-template-areas: "about-title about-title "
                        "about-content about-image"; 
    width: 65vw;
    height:50vh;
    margin:30px 0px 100px 0px;
}

#about-header{
    grid-area: about-title;
    
}

#about-content{
    grid-area: about-content;

}

#about-image{
    grid-area: about-image;

}


#welcome{

    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    width:65vw;
    margin-top: 50px;

    background-color: red;
}

#welcome-item{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    /* padding-right: 70px; */
}

#welcome h1{
    font-size: 100px;
}

#welcome h3{
    font-size: 60px;
}