*{
    box-sizing: border-box;
    margin:0px;
}

main{
    width: 100vw;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

section{
    width: 100%;
    height: 100vh;    
}

footer{
    width:100vw;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0px 10px;
    height: 9vh;
    width:100%;
    
}

.nav-item{
    display:inline;
    text-decoration: none;
    padding: 0px 15px;
    
}

.nav-item>a{
    text-decoration: none;
}

.container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height:100%;
    width: 80vw;
}

.icon-item{
    padding:30px;
}

.skill-item{
    padding:5px;
    margin: 5px 15px;
    width: 133px;
    height: 145px;
}

::-webkit-scrollbar {
    display: none;
}

#logo>a>img{
    height: 89px;
    width: 85px;
}

#welcome{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

}

#welcome-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 100%;
        
}

#welcome-item{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 100%;
    height: 100%;  
   
} 

#about{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#about-grid{
    display:grid;
    grid-template-columns:  minmax(0, 1fr)  minmax(0, 1fr);
    grid-template-rows: 10vh 10vh minmax(0, 1fr);
    grid-template-areas: "about-title about-title "
                         "about-tagline about-tagline "
                         "about-content about-image"; 
    width: 65vw;
    height:80vh;
    align-content: center;
    justify-items: center;
}

#about-header{
    grid-area: about-title;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
}

#tagline{
    grid-area: about-tagline;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
}

#about-content{
    grid-area: about-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 90%;
}


#about-tags{
    padding: 35px 0px;
   
}

#about-image{
    grid-area: about-image;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#about-image>img{
    width: 85%;
    margin: auto;
}

#projects, #skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

#skills-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;   
}

#c-icon{
    width:60%;
}

#skills-image{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 15%;
}

#carousel{
    display: flex;
    height: 65%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#screen{
    display: flex;
    height: 55%;
    width: 85%;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 25px 0px;
}

#icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#icons>a>img{
    width: 142px;
    height: 128px;
}

#icons>a>img#gh{
    width: 128px;
    height: 128px;
}

#screen-item{
    display: flex;
    flex-wrap: wrap;
    height: 64%;
    width: 83%;
    overflow: scroll;
    margin: 0px 54px 62px 0px;
    padding: 15px;
}