@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body{

    background-image:linear-gradient(to bottom right, #D3ACCC, #F0B0BC, #EDD2C3);
    background-repeat: no-repeat;
    margin: 0; 
    font-family: 'El Messiri', sans-serif; 
    
}

p{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}

i{
    padding-top:5px;
    padding-bottom: 10px;
}

hr{
    width: 66%;
    margin: auto;
}

.navbar{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.nav-item{
    font-size: 1.75rem;
    
}

.skill-item{
    text-align: center;
    background-image: url(../img/window-container.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    
}

#welcome h1{
    font-size: 9.75rem;
}

#welcome h3{
    font-size: 4rem;
}

#about-header>h1, #skills-header>h1, #projects>h1{
    font-size: 3rem;
}

#about-tags{
    font-size: 2rem;
}

#screen{
    background-image: url(../img/screen-container.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    margin-top: 34px;
}

/* #screen-item::-webkit-scrollbar{
    display:initial;
} */

#skills-image>img{
    image-rendering: pixelated;
}

/* .container-bg{
    background-image: url(../img/stroke.svg);
    background-repeat: no-repeat;
    background-size: 100% 80%;
} */

.container::after {
    content: " ";
    background-image: url(../img/stroke.svg);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.icon-container{
    padding-top:15px;
    overflow: hidden;
    position: relative;
    height:130px;
}

.static{
    position: absolute;
    background-image: url(../img/noise_30.png);
    transform: translate(4px, -10px);
    height: 127px;
    width: 115px;
    z-index: 0.9;
    border-radius: 5px;
}

.description{
    visibility:hidden;
    height: 60%;
    width: 91%;
}

.description p{
    margin-top: 10px;
    padding-left: 70px;
    overflow-wrap: break-word;
}

#c-icon{
    padding-bottom: 10px;
}
/* background-image: url("data:image/svg+xml,%3Csvg width='1440' height='3072' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)' clip-path='url(%23clip0)'%3E%3Cpath d='M46.49 2620.5l1.62-2.53-1.62 2.53zm1119.08-738l-.59-2.94.59 2.94zm-862.492-716.09l1.112-2.79-1.112 2.79zm744.912 188.09l.75-2.9-.75 2.9zm2.77-869.253a3.004 3.004 0 005.69-1.93l-5.69 1.93zm60.5-173.411l-1.77-2.421 1.77 2.421zm321.79 184.896l2.99.148-2.99-.148zM9.49 956a3 3 0 100 6v-6zm185.413 1839c0-16.88-6.141-34.35-15.926-51.44-9.795-17.11-23.347-34.02-38.431-49.84-30.163-31.65-66.716-59.25-92.436-75.75l-3.24 5.06c25.422 16.3 61.575 43.6 91.333 74.83 14.877 15.61 28.089 32.13 37.567 48.68 9.49 16.57 15.133 33 15.133 48.46h6zM48.11 2617.97c-23.946-15.35-35.349-33.45-37.66-53.63-2.334-20.37 4.522-43.42 18.308-68.66 27.59-50.53 82.032-108.34 140.804-168.45 58.614-59.95 121.426-122.1 165.109-180.98 21.851-29.46 39.041-58.25 48.523-85.71 9.492-27.48 11.323-53.8 2.168-78.1l-5.615 2.12c8.517 22.6 6.966 47.42-2.224 74.02-9.2 26.64-25.993 54.87-47.671 84.09-43.374 58.47-105.803 120.25-164.58 180.37-58.619 59.95-113.716 118.36-141.78 169.76-14.042 25.72-21.54 50.07-19.004 72.22 2.558 22.34 15.252 41.89 40.383 58.01l3.238-5.06zm1116.87-738.41c-293.764 59.43-573.1 83.95-785.91 99.45l.436 5.98c212.875-15.5 492.517-40.04 786.664-99.55l-1.19-5.88zm-860.79-715.94c-93.2-37.19-165.084-74.09-214.293-108.96-24.604-17.44-43.45-34.31-56.454-50.38-13.014-16.082-20.04-31.192-21.328-45.149l-5.975.551c1.434 15.544 9.186 31.749 22.639 48.378 13.463 16.63 32.773 33.86 57.649 51.49 49.751 35.26 122.12 72.36 215.538 109.64l2.224-5.57zm-2.224 5.57c79.18 31.6 168.731 53.67 286.764 80.31 118.078 26.66 264.778 57.92 458.51 107.9l1.5-5.8c-193.848-50.02-340.672-81.31-458.689-107.95-118.063-26.65-207.178-48.63-285.861-80.03l-2.224 5.57zm745.274 188.21c82.43 21.27 161.74 58.55 226.61 104.04 64.9 45.51 115.14 99.09 139.73 152.85 24.53 53.61 23.52 107.22-13.64 153.66-37.36 46.7-111.65 86.66-234.96 111.61l1.19 5.88c123.82-25.05 199.79-65.41 238.46-113.74 38.87-48.58 39.67-104.7 14.41-159.91-25.2-55.06-76.34-109.4-141.75-155.26-65.45-45.9-145.41-83.48-228.55-104.93l-1.5 5.8zm9.21-874.083c-17.63-51.874-6.39-122.971 56.59-169.06l-3.55-4.842c-65.33 47.813-77.09 121.77-58.73 175.832l5.69-1.93zm56.59-169.06c21.36-15.632 52.66-27.498 87.53-32.566 34.85-5.065 73.02-3.307 108.04 8.074 35 11.373 66.81 32.334 89.14 65.692 22.33 33.36 35.35 79.369 32.3 141.127l5.99.296c3.1-62.757-10.11-110.112-33.31-144.761-23.19-34.651-56.21-56.342-92.27-68.06-36.03-11.71-75.14-13.481-110.75-8.306-35.58 5.171-67.88 17.313-90.22 33.662l3.55 4.842zm317.01 182.327c-3.05 61.912-16.5 121.332-53.91 175.737-37.41 54.414-98.99 104.103-198.83 146.166C977.488 902.674 625.196 956 9.49 956v6c615.787 0 969.134-53.294 1170.15-137.983 100.58-42.375 163.21-92.689 201.45-148.297 38.24-55.616 51.87-116.237 54.95-178.84l-5.99-.296z' fill='%23FAF5EA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h1440v3072H0z'/%3E%3C/clipPath%3E%3Cfilter id='filter0_d' x='-24' y='254' width='1488.49' height='2578' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='9'/%3E%3CfeGaussianBlur stdDeviation='14'/%3E%3CfeColorMatrix values='0 0 0 0 0.95 0 0 0 0 0.589792 0 0 0 0 0.648735 0 0 0 1 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E"); */