@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body{

    background-image:linear-gradient(to bottom right, #D3ACCC, #F0B0BC, #EDD2C3);
    background-repeat: no-repeat;
    margin: 0; 
    font-family: 'El Messiri', sans-serif; 
    
}

p{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}

i{
    padding-top:5px;
}

.navbar{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.nav-item{
    font-size: 1.75rem;
    
}

.skill-item{
    text-align: center;
    background-image: url(../img/window-container.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    
}

#welcome h1{
    font-size: 9.75rem;
}

#welcome h3{
    font-size: 4rem;
}

#about-header>h1, #skills-header>h1, #projects>h1{
    font-size: 3rem;
}

#about-tags{
    font-size: 2rem;
}

#screen{
    background-image: url(../img/screen-container.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    margin-top: 34px;
}

/* #screen-item::-webkit-scrollbar{
    display:initial;
} */

#skills-image>img{
    image-rendering: pixelated;
}

.icon-container{
    padding-top:15px;
    overflow: hidden;
    position: relative;
    height:130px;
}

.static{
    position: absolute;
    background-image: url(../img/noise_30.png);
    transform: translate(4px, -10px);
    height: 127px;
    width: 115px;
    z-index: 0.9;
    border-radius: 5px;
}

/* .test{
    background-image: url(../img/stroke.svg);
    background-repeat: no-repeat;
    width: inherit;
    height: inherit;
    background-size: contain;
} */
