@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

body{

    background-image:linear-gradient(to bottom right, #D3ACCC, #F0B0BC, #EDD2C3);
    background-repeat: no-repeat;
    margin: 0; 
    font-family: 'El Messiri', sans-serif; 
    
}

.nav-item{
    font-size: 2rem;
}

#welcome h1{
    font-size: 10rem;
}

#welcome h3{
    font-size: 4rem;
}

#about-header{
    font-size: 2rem;
}

#about-content{
    font-size: 1.5rem;
}